@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");
@media screen and (max-width: 1238px) and (min-width: 834px) {
  * {
    margin: 0px;
    /* border: 1px solid orange; */
  }

  .logo-container {
    padding-top: 22px;
    padding-bottom: 55px;
    padding-left: 70.08px;
  }

  .logo {
    width: 64.87px;
    height: 38.23px;
  }

  .how-to-watch-container {
    /* padding-top: px; */
    /* padding-right: ; */
    padding-bottom: 46px;
    padding-left: 70px;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
  }

  .how-to-watch-wrapper {
    margin-right: 10.7%;
    /* padding-top: 12px; */
  }

  .properties-in-line-container {
    display: flex;
    flex-direction: row;
    /* padding-bottom: 13px; */
  }

  .property-in-line {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 115%;
    align-items: center;
  }

  .header-icons-img {
    width: 12.74px;
    height: 12.16px;
  }

  /* .how-to-watch {
} */

  .how-to-watch-h1 {
    display: block;
    width: 363.72px;
    height: 110.04px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 101.38%;
    padding-top: 0px;
  }

  .how-to-watch-p {
    display: block;
    width: 264px;
    height: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    padding-top: 2px;
  }

  .director {
    width: 176.07px;
    height: 206.18px;
    margin-top: 20px;
  }

  /* .quote-container {
    
  }

  .quote {

  }

  .quote-itself {
  
  }

  .quote-auhtor {
  
  } */
}
