@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");
@media screen and (max-width: 1238px) and (min-width: 834px) {
  * {
    margin: 0px;
    /* border: 1px solid orange; */
  }
  
  .logo-container {
    padding-top: 1.45%;
    padding-bottom: 6.46%;
    padding-left: 8.41%;
  }
  
  .logo {
    width: 8.49%;
  }
  
  .how-to-watch-container {
    /* padding-top: px; */
    /* padding-right: ; */
    padding-bottom: 5.77%;
    padding-left: 8.49%;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
  }
  
  .how-to-watch-wrapper {
    margin-right: 10.7%;
    /* padding-top: 12px; */
  }
  
  .properties-in-line-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
  }
  
  .property-in-line {
    display: flex;
    flex-direction: row;
    margin-right: 8%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 115%;
    align-items: center;
  }
  
  .header-icons-img {
    width: 15%;
    /* margin-right: 20%; */
  }
  
  /* .how-to-watch {
  } */
  
  .how-to-watch-h1 {
    display: block;
    width: 628px;
    height: 190px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 5em;
    line-height: 101.38%;
    padding-top: 2.1%;
  }
  
  .how-to-watch-p {
    display: block;
    width: 414px;
    height: 62px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 150%;
  }
  
  .director {
    width: 304px;
    height: 356px;
    margin-top: 38px;
  }
  
  .quote-container {
    display: flex;
    justify-content: center;
  }
  
  .quote {
    /* width: 454.63px;
    height: 200px;
    background: #1e4681;
    border-radius: 5px;
    transform: rotate(-4deg); */
    /* padding-top: 21px; */
    /* padding-bottom: 8px; */
    /* padding-left: 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -138px;
    margin-top: 4px; */
    width: 483.63px;
    height: 200px;
    background: #1e4681;
    border-radius: 5px;
    transform: rotate(-4deg);
    margin-right: 9.62%;
    margin-top: 0.35%;
  }
  
  .quote-itself {
    /* display: block;
    width: 430.59px;
    height: 113px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    color: #ffffff;
    color: #000000; */
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 1.564em;
    line-height: 130%;
    color: #ffffff;
    padding-top: 4.15%;
    padding-left: 5.65%;
  }
  
  .quote-auhtor {
    /* font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: #ffffff;
    padding-right: 21px; */
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 130%;
    text-align: right;
    color: #ffffff;
    padding-top: 1%;
    padding-right: 4.3%;
  }
  
  .about-course {
    padding-left: 121px;
    padding-top: 174px;
  }
  .about-course-div {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
  }
  
  .section-title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 3.43em;
    line-height: 101.38%;
  }
  
  .about-course-p-container {
    width: 670px;
    margin-right: 14%;
  }
  
  .about-course-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 150%;
    margin-bottom: 35px;
  }
  .about-course-img {
    width: 314px;
    height: 315px;
    margin-top: 2%;
  }
  .about-course-brief {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
  }
  .about-course-brief-img {
    width: 232px;
    height: 203px;
    margin-right: 10%;
  }
  
  .about-course-brief-properties {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
  }
  
  .about-course-brief-property {
    margin-right: 21%;
  }
  .about-course-brief-h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.564em;
    line-height: 130%;
  }
  .about-course-brief-p {
    display: block;
    width: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.124em;
    line-height: 130%;
    margin-top: 2%;
  }
  
  .activity-format {
    padding-left: 121px;
    padding-top: 176px;
  }
  
  .activity-format-properties {
    margin-top: 9.6%;
    margin-left: 0.1%;
    display: flex;
  }
  .activity-format-property {
    width: 273px;
    margin-right: 5.4%;
  }
  .activity-format-h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.564em;
    line-height: 130%;
    display: block;
    margin-bottom: 3%;
  }
  
  .communication {
    margin-left: 3%;
  }
  
  .activity-format-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.124em;
    line-height: 130%;
  }
  
  .what-to-learn {
    padding-left: 121px;
    padding-top: 11%;
    display: flex;
    flex-direction: row;
  }
  
  .what-to-learn-div {
    padding-top: 4.55%;
  }
  
  .what-to-learn-list {
    padding-top: 8.5%;
    width: 680px;
  }
  
  .what-to-learn-li {
    display: flex;
  }
  
  .what-to-learn-dot {
    margin-right: 0.8%;
  }
  .what-to-learn-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 150%;
  }
  .what-to-learn-images {
    display: flex;
    flex-direction: column;
    margin-left: 4.85%;
  }
  .what-to-learn-img-1 {
    width: 274px;
    height: 160px;
  }
  .what-to-learn-img-2 {
    width: 312px;
    height: 180px;
    margin-top: 44.9%;
    margin-left: 6%;
  }
  
  .black-dot {
    width: 6px;
    height: 6px;
    background-color: #000000;
    border-radius: 50%;
  }
  
  .green-line {
    width: 386px;
    height: 9px;
    background: #bac99f;
    margin-left: 2px;
  }
  
  .course-program {
    padding-left: 84px;
    padding-top: 15.75%;
  }
  
  .course-program-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .course-program-h2 {
    margin-left: 2.72%;
  }
  
  .black-line {
    width: 630px;
    height: 14px;
    background: #000000;
    margin-top: 0.5%;
  }
  
  .course-program-prorerties {
    padding-top: 9.8%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 93.77%;
  }
  
  .course-program-prorerty {
    width: 399px;
    height: 328px;
    background: #ffffff;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-bottom: 3.3%;
  }
  
  .course-program-img {
    width: 399px;
    height: 160px;
  }
  
  .course-program-h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.873em;
    line-height: 130%;
  }
  
  .course-program-prorerty-description {
    padding-top: 2%;
    padding-left: 5%;
    box-sizing: content-box;
  }
  
  .course-program-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.564em;
    line-height: 130%;
    padding-top: 8.5%;
  }
  .seminar {
    padding-top: 0.5%;
  }
  
  .course-program-writer {
    width: 399px;
    height: 328px;
    margin-top: 19%;
    position: relative;
  }
  
  .course-program-writer-img {
    margin-left: 29%;
  }
  
  /* .course-authors {
  } */
  
  .course-authors-div {
    display: flex;
  }
  .author-danila-kuznetsov {
    display: flex;
    flex-direction: column;
  }
  
  .author-danila-skvortsov {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .author-info {
    display: flex;
    flex-direction: row;
  }
  
  .author-info-img {
    width: 189px;
    height: 178px;
  }
  
  .author-name {
    display: flex;
    flex-direction: column;
  }
  
  .author-name-div {
    display: flex;
    flex-direction: row;
  }
  
  .author-name-h3 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 1.873em;
    line-height: 101.38%;
  }
  
  .author-name-i-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 1px 1px 8px #5784c8;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin-left: 10px;
  }
  
  .author-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.124em;
    line-height: 130%;
  }
  
  .author-description {
    width: 399px;
    height: 274px;
    background: #ffffff;
    box-shadow: 1px 1px 20px rgb(0 0 0 / 25%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 25px;
  }
  
  .results {
    background: #efefef;
    padding-top: 20.59%;
    padding-bottom: 8%;
    padding-left: 8.5%;
  }
  
  .results-div {
    width: 791px;
    height: 451px;
    background: #ffffff;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 5.5%;
    margin-left: 0.3%;
  }
  
  .results-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 150%;
    display: inline-block;
    width: 700px;
    height: 203px;
    padding-top: 5%;
    padding-left: 5.7%;
  }
  
  .results-feedback {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3.2%;
    padding-top: 1.4%;
  }
  
  .results-feedback-img {
    width: 190px;
    height: 169px;
  }
  
  .results-feedback-div {
    width: 353px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4%;
  }
  
  .results-feedback-h3 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 1.873em;
    line-height: 101.38%;
  }
  
  .results-feedback-fb {
    width: 32px;
    height: 31px;
  }
  
  .start {
    background: #9dc9c8;
    padding-left: 8.45%;
    padding-top: 12.1%;
    padding-bottom: 14%;
  }
  
  .start-h2 {
    margin-bottom: 5.19%;
  }
  
  /* .start-price-div {
  } */
  
  .start-price-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.564em;
    line-height: 101.38%;
  }
  
  .start-price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 101.38%;
  }
  
  .start-description-wrapper {
    margin-top: 5.7%;
    display: flex;
  }
  
  .start-description-div {
    width: 294px;
    margin-right: 5.34%;
  }
  
  .start-description-h {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.564em;
    line-height: 101.38%;
    margin-bottom: 6%;
  }
  
  .start-description-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.124em;
    line-height: 101.38%;
  }
  
  footer {
    background-color: #000000;
    padding-top: 3.5%;
    padding-left: 8.47%;
    padding-right: 13.8%;
    /* padding-bottom: 14.55%; */
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .logo-white {
    width: 115px;
    height: 68px;
  }
  
  .media {
  }
  
  .media-img {
    width: 33px;
    height: 33px;
  }
  
  .contacts-wrapper {
  }
  
  .contacts {
    display: flex;
  }
  
  .contacts-img {
    width: 27px;
    height: 27px;
  }
  
  .contacts-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.564em;
    line-height: 101.38%;
    color: #ffffff;
  }
  
  .sign {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.124em;
    line-height: 101.38%;
    color: #ffffff;
  }
  
}
